.container-resumo{
  height: 100%;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  margin: 25px 0px;
}
.resumoButtonsContainer{
  margin-left: 180px;
  margin-top: 50px;
  display: flex;
  gap: 20px;

}
img{
  height: 10rem;
  position: absolute;
  object-fit: cover;
  width: 10rem;
  border-radius: 50%;
  min-width: 90px;
}

.container  {
  position: absolute;


  margin-left: 180px;
  margin-bottom: 80px;
}


@media screen  and (max-width: 520px){
 .container{
  position: static;
  margin-left: 0;
  margin-bottom: 0;
 }
 img{
  position: static;
 }

 .container-resumo{
  position: static;
  align-items: center;
 }
 .resumoButtonsContainer{
  margin-left: 0;
  margin-top: 0;
 }
}
